.player-1,
.player-2 {
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #008000;
  width: 100%;
  height: auto;
  margin-top: 1.3rem;
}
.player-2 {
  margin-top: 20px;
}
.player-1 h1,
.player-2 h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}
.player-1 h4,
.player-2 h4 {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 1.3rem;
  border: 1px solid #fff;
}
.buttons-player-1,
.buttons-player-2, 
.restart-1, .restart-2 {
  display: flex;
  justify-content: center;
}
.buttons-player-1 button,
.buttons-player-2 button {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  color: #fff;
  background-color: #111;
  margin: 0rem 2rem 2rem 1.2rem;
  font-size: 2rem;
  outline: 0;
  cursor: pointer;
  width: 8%;
}

.restart-1 button, 
.restart-2 button {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  color: #fff;
  background-color: #111;
  margin: 0rem 2rem 2rem 1.2rem;
  font-size: 1rem;
  outline: 0;
  cursor: pointer;
  width: 8%;
}

button:hover {
  transition: all ease 0.2s;
  background-color: #ff2400;
  color: #fff;
}
.scoreboard {
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.victories-player-1 {
  margin-right: 3rem;
}
.victories-player-2 {
  margin-left: 3rem;
}

@media(min-width: 320px) and (max-width: 480px) {
  .restart-1 button, 
  .restart-2 button {
    width: 45%;
    margin-top: 20px;
  }
}
@media(min-width: 768px) and (max-width: 1024px) {
  .restart-1 button, 
  .restart-2 button {
    width: 35%;
    margin-top: 20px;
  }
}