.options {
  border: 2px solid #111;
  border-radius: 10px;
  background-color: #008000;
  height: 30rem;
}
.title {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #fff;
}
.links {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.links:hover {
  text-decoration: underline;
  transition: 0.2 all ease;
}
.link-home {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.link-home:hover {
  text-decoration: underline;
  transition: 0.2 all ease;
}
